Language: C
BasedOnStyle: LLVM
# UseTab: ForIndentation
UseTab: Always
IndentWidth: 4
TabWidth: 4
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterReturnType: TopLevelDefinitions
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Linux
IndentCaseBlocks: true
IndentCaseLabels: false
IndentGotoLabels: false
SortIncludes: false
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeParens: Never
SpacesInParens: Custom
SpacesInParensOptions:
  InCStyleCasts: false
  InEmptyParentheses: false
  InConditionalStatements: false
PointerAlignment: Right
ColumnLimit: 100
WhitespaceSensitiveMacros: ['PRIM', 'ExceptionHandler', 'CatchExceptionIf',
                            'CatchException', 'EndExceptionHandler', 'REDIR']
OneLineFormatOffRegex: "(Root|PRIM|REDIR)"

