*.swp
#*#
.*#*#
*.o
*.old
*~
es
esdump
es_static
*.core
esdump.core
y.output
y.tab.c
y.tab.h
y.tab.o
token.h
initial.c
system.c
sigmsgs.c
version.c
config.cache
config.log
config.h
Makefile
cscope.out
tags
TAGS
core
cs.out
config.status
ltmain.sh
autom4te.cache
system.es
config.guess
config.sub
configure
configure_*
install-sh
config.es
*.new
callgrind.*
gmon.out
*.gmon
*.ps
*.pdf
other/*
libraries/complete_git/*
mveety.esrc
work/*
test_*.log

